header {
    padding-top: 8px;
    background-color: red;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    font-family: 'Open Sans';
}

body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.imagen1 {
    text-align: center;
    height: 350px;
    margin-left: 270px;
    margin-top: 20px;
    margin-right: 200px;
    margin-bottom: 20px;
}

.borde {
    border-style: solid;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
}

footer {
    background-color: red;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    font-family: 'Open Sans';
    padding-top: 8px;
    padding-bottom: 8px;
}

/* INTERFAZ 2 */
.imagen2 {
    margin-left: 15px;
    margin-top: 27px;
    margin-bottom: 15px;
    height: 330px;
    width: 3000px;
}

p {
    text-align: justify;
}

